/* Add CSS Styling */
.odd {
  background-color: hsl(350, 77%, 75%);
  font-family: Verdana, 'DejaVu Sans', sans-serif;
}

.cooler {
  font-size: 24px;
}

#second {
  color: rgb(39, 39, 214);
  font-size: 36px;
}

#fourth {
  background-color: #82d382;
  font-size: 24px;
  font-weight: bold;
}