body {
  background: #eee;
  font-family: sans-serif;
  margin: 0px;
}

h1 {
  margin: 5px auto 5px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  font-size: 20px;
  padding: 10px;
  margin-top: 5px;
}

.content {
  background: #e3f4ff;
  font-size: 16px;
  padding: 10px;
}

.button-container {
  background: #e3f4ff;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin: 5px auto;
  text-align: center;
}

button {
  background: white;
  display: block;
  border: 1px solid #eee;
  margin: 4px auto;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: bold;
}